@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.quadrado{
    height: 150px;
    width: 150px;
    background-color: rgb(0, 17, 255);
}
.quadrado__azul{
    background-color: #0d3cbe;
    border: 10px solid #121212;
}
.quadrado__rosa{
    background-color: #c225ad;
}
#cachorro{
    background-color: yellow;
    padding: 10px;
    border: violet 10px solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
}
